* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --light-gray: rgb(225, 225, 225);
  --dark-gray: rgb(80, 80, 80);
  --blue-gray: rgb(62, 144, 191);
  --nav-bg: #a9b7c0;
  --content-bg: #d6dcdf;
  --high: #c75f52;
  --med: #e4e424;
  --low: rgb(93, 145, 61);
}

/* import Google font */
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 35% 65%;
}


/* navigation panel on left */
#nav {
  width: 100%;
  background-color: var(--nav-bg);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  color: var(--blue-gray);
}

#nav h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-shadow: 2px 4px 4px rgba(48, 94, 127, 0.5);
}

#nav h4 {
  margin-top: 30px;
  margin-bottom: 10px;
}

#nav button {
  margin-bottom: 5px;
  padding: 3px 10px;
  border: none;
  border-radius: 7px;
  background-color: var(--nav-bg);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: var(--dark-gray);
  filter: brightness(110%);
}

#nav button:hover {
  filter: brightness(120%);
}


/* content side on the right */
#content {
  width: 100%;
  background-color: var(--content-bg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  color: var(--dark-gray)
}

.todoItem {
  display: flex;
  margin-bottom: 5px;
  padding: 5px 30px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: var(--nav-bg);
  font-size: 0.8rem;
}

/* checkbox */
.fa-solid {
  align-self: center;
  margin-right: 10px;
}

.fa-solid:hover {
  filter: brightness(120%);
}

.editBtn {
  margin-left: 20px;
  padding: 3px;
  border: none;
  border-radius: 7px;
  background-color: var(--nav-bg);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 0.8rem;
  color: var(--dark-gray);
  filter: brightness(110%);
}

.editBtn:hover {
  filter: brightness(120%);
}

#addTodoBtn {
  margin-bottom: 5px;
  padding: 5px 30px;
  border: 0;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: var(--nav-bg);
  color: var(--dark-gray);
  filter: brightness(105%);
}

#addTodoBtn:hover {
  filter: brightness(110%);
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 7px;
  background-color: var(--nav-bg);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog form {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 3fr 1fr 1fr 1fr;
  justify-items: end;
  gap: 10px;
  padding: 20px;
}

dialog form label {
  color: var(--dark-gray);
}

dialog form input,
dialog form textarea,
dialog form select {
  width: 100%;
  padding: 5px;
  border-radius: 7px;
  border: none;
  background-color: var(--content-bg);
  font-family: "Poppins", sans-serif;
}

dialog form input:focus,
dialog form textarea:focus,
dialog form select:focus {
  filter: brightness(120%);
}

#dialogBtnDiv {
  grid-column: span 2;
}

.dialogBtn {
  justify-self: center;
  margin-top: 20px;
  padding: 5px 20px;
  background-color: var(--nav-bg);
  border-radius: 7px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: var(--low);
  filter: brightness(110%);
}

.dialogBtn:hover {
  filter: brightness(120%);
}

#cancelBtn {
  color: var(--dark-gray);
}

#deleteBtn {
  color: var(--high);
}


/* sticky footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--light-gray);
  padding: 10px;
  display: flex;
  justify-content: center;
  color: var(--dark-gray);
  font-size: 0.6rem;
}

footer a {
  color: var(--dark-gray);
}

footer a:hover {
  color: black;
  text-decoration: none;
}